<link rel="stylesheet" href="/css/home.css">
<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" wfd-id="17">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="" wfd-id="30"></li>
            <li data-target="#myCarousel" data-slide-to="1" wfd-id="29" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="2" wfd-id="28" class=""></li>
        </ol>
        <div class="carousel-inner" wfd-id="22">
            <div class="carousel-item" wfd-id="25">
                <img class="first-slide" src="/images/background3.jpg" alt="First slide">

            </div>
            <div class="carousel-item active" wfd-id="24">
                <img class="second-slide" src="/images/background4.png" alt="Second slide">

            </div>
            <div class="carousel-item" wfd-id="23">
                <img class="third-slide" src="/images/background2.png" alt="Third slide">

            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" wfd-id="21"></span>
            <span class="sr-only" wfd-id="20">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" wfd-id="19"></span>
            <span class="sr-only" wfd-id="18">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" wfd-id="0">

        <!-- Three columns of text below the carousel -->
        <div class="row extra-row-space" wfd-id="13">
            <div class="col-lg-4" wfd-id="16">
                <img class="rounded-circle" src="/images/background4.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Music Player</h2>
                <p>This project is made entierly with javaScript. Well its currently under development but soon gonna be live. Stay connected for more updates</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4" wfd-id="15">
                <img class="rounded-circle" src="/images/background3.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>ToDo Web App</h2>
                <p>Its a basic todo application, with which user can now enter its daily tasks in this web application and never forgets to do their task.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4" wfd-id="14">
                <img class="rounded-circle" src="/images/background2.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Well this is our coding impementation, we provide our coustomers a vast range of web services. For more info click on View Details</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette" wfd-id="9">
            <div class="col-md-7" wfd-id="11">
                <h2 class="featurette-heading">JavaScript. <span class="text-muted" wfd-id="12">For creating web Applications.</span></h2>
                <p class="lead">We in our project use entirely javaScript code to make it more flexible and advanced, that's why we use Node.js to create our website backend, it's our constant effort to give the client the best experience in running our web services.
                    We provide a variety of web services to our clients: Static Pages, Front-end based applications(React, Angular), fully Backend supported applications. We are currently developing our web applications in Node.js but soon we will also
                    be developing our web application with django and flask framework also, so according to your requirement we will deliever the right product to you.</p>
            </div>
            <div class="col-md-5" wfd-id="10">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 370px;" src="/images/java.jpg" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" wfd-id="5">
            <div class="col-md-7 order-md-2" wfd-id="7">
                <h2 class="featurette-heading">Node.js <span class="text-muted" wfd-id="8">For fully flexible web Applications</span></h2>
                <p class="lead">We in our project use entirely javaScript code to make it more flexible and advanced, that's why we use Node.js to create our website backend, it's our constant effort to give the client the best experience in running our web services.
                    We provide a variety of web services to our clients: Static Pages, Front-end based applications(React, Angular), fully Backend supported applications. We are currently developing our web applications in Node.js but soon we will also
                    be developing our web application with django and flask framework also, so according to your requirement we will deliever the right product to you.</p>
            </div>
            <div class="col-md-5 order-md-1" wfd-id="6">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/images/node.png" data-holder-rendered="true" style="width: 500px; height: 370px;">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette" wfd-id="1">
            <div class="col-md-7" wfd-id="3">
                <h2 class="featurette-heading">Third party Library <span class="text-muted" wfd-id="4">Minimum usage of third part libraries</span></h2>
                <p class="lead">We in our project use entirely javaScript code to make it more flexible and advanced, that's why we use Node.js to create our website backend, it's our constant effort to give the client the best experience in running our web services.
                    We provide a variety of web services to our clients: Static Pages, Front-end based applications(React, Angular), fully Backend supported applications. We are currently developing our web applications in Node.js but soon we will also
                    be developing our web application with django and flask framework also, so according to your requirement we will deliever the right product to you.</p>
            </div>
            <div class="col-md-5" wfd-id="2">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/images/boot.png" data-holder-rendered="true" style="width: 500px; height: 390px;">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>

</main>